<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- CAMERA permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- CAMERA permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fit_Buddy"
        tools:replace="android:fullBackupContent">
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash1"
            android:theme="@style/Theme.Fit_Buddy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/Theme.Fit_Buddy"> -->
        <!-- <activity -->
        <!-- android:name=".view.EditProfileScreen" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/title_activity_edit_profile_screen" -->
        <!-- android:theme="@style/Theme.Fit_Buddy"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Only one LAUNCHER activity -->
        <!-- <activity -->
        <!-- android:name=".view.WorkoutActivity" -->
        <!-- android:exported="true"> -->
        <activity
            android:name=".view.LandingActivity"
            android:exported="true"
            android:label="@string/title_activity_landing"
            android:theme="@style/Theme.Fit_Buddy">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity> <!-- Only one LAUNCHER activity -->
        <activity
            android:name=".view.WorkoutActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.RegistrationActivity"
            android:exported="true"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Fit_Buddy" />
        <activity
            android:name=".view.ExerciseActivity"
            android:exported="false"
            android:label="@string/title_activity_exercise"
            android:theme="@style/Theme.Fit_Buddy" />
    </application>

</manifest>